*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
body,
html {
	font-family: Arial, sans-serif;
	height: 100%;
}
.map {
	width: 100%;
	height: 100%;
}

.map-application {
	height: 100%;

	padding-top: 50px;

}


header {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	padding: 8px;
	z-index: 9;
	border-bottom: 1px solid #eee;
	width:100%;
	background-color: #9c3131
}
header .appName {
	float: left;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}

header .getBuffer {
	float: right;
	font-size: 1.5em
}

.form-button{
	height: 32px;
}

.form-button label{
		line-height: 32px
}

.form-button label.submit, .form-button input.submit, .form-button button.submit{
	height: 32px;
	line-height: 32px
}
